@model Domain.Language

<div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
    <div class="card-header">Book language</div>
    <div class="card-body">
        <p class="card-text">@Model.LanguageName</p>
    </div>
</div>