@model PickLanguageModel

<div class="form-group border">
  
        <p>Choose a language</p>
        <label asp-for="LanguageId" class="control-label"></label>
        <select asp-for="LanguageId" class="form-control" asp-items="Model.LanguagesSelectlist"></select>
        <button type="submit" name="languagePick" value="pick">Pick!</button>
        <p>or create one yourself:</p>
        <div class="form-group">
            <label asp-for="NewLanguageName" class="control-label"></label>
            <input asp-for="NewLanguageName" class="form-control"/>
            <span asp-validation-for="NewLanguageName" class="text-danger"></span>
        </div>
        <button type="submit" name="languagePick" value="add">Add and pick this one!</button>
</div>