@model CreateBookModel

<div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
    <div class="card-header">Woods to be taken down</div>
    <div class="card-body">
        <img src="resources/@Model.Book.PicturePath" width="100%" alt="Picture of a forest"/>
        <p class="card-text">You have chosen this lovely forest to be taken
            down in order to print this book on paper. If this book gains enough popularity, this forest would be
            chopped first - words well written deserve the best paper around. Or do they?</p>
        <p>This is a metaphor on how much we love books -
            and whether the real world really compares to our pursuits in imaginary worlds.</p>
        <button class="btn btn-danger" type="submit" name="deletePicture" value="remove">Remove</button>
    </div>
</div>