@page
@model MusicFestivalWeb.Pages.Events.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Event</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Event.EventName" class="control-label"></label>
                <input asp-for="Event.EventName" class="form-control" />
                <span asp-validation-for="Event.EventName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Event.TicketCountPrediction" class="control-label"></label>
                <input asp-for="Event.TicketCountPrediction" class="form-control" />
                <span asp-validation-for="Event.TicketCountPrediction" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Event.TicketPrice" class="control-label"></label>
                <input asp-for="Event.TicketPrice" class="form-control" />
                <span asp-validation-for="Event.TicketPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Event.StartTime" class="control-label"></label>
                <input asp-for="Event.StartTime" class="form-control" />
                <span asp-validation-for="Event.StartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Event.EndTime" class="control-label"></label>
                <input asp-for="Event.EndTime" class="form-control" />
                <span asp-validation-for="Event.EndTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Event.PreparationTime" class="control-label"></label>
                <input asp-for="Event.PreparationTime" class="form-control" />
                <span asp-validation-for="Event.PreparationTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Event.CleanUpTime" class="control-label"></label>
                <input asp-for="Event.CleanUpTime" class="form-control" />
                <span asp-validation-for="Event.CleanUpTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Event.VenueId" class="control-label"></label>
                <select asp-for="Event.VenueId" class ="form-control" asp-items="ViewBag.VenueId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
