@model BookIndexDto

<div class="card m-3">
    <img src="resources/@Model.Book.PicturePath" height="50%" class="card-img-top rounded" alt="...">
    
    
    <div class="card-body">
        <h6 class="card-text">
            <small>
                @string.Join(" | ", Model.Authors.Select(author => author.FirstLastName))
            </small>
        </h6>
        <h5 class="card-title">@Model.Title</h5>
        <p class="card-text">@Model.Summary</p>
    </div>
    <div class="card-footer">
        <a href="#" class="card-link">View</a>
        <a href="#" class="card-link">Edit</a>
        <a href="#" class="card-link">Delete</a>
    </div>


</div>