@page
@model MusicFestivalWeb.Pages.OrganisedEvents.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>OrganisedEvent</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="OrganisedEvent.OrganisedEventId" />
            <div class="form-group">
                <label asp-for="OrganisedEvent.EventName" class="control-label"></label>
                <input asp-for="OrganisedEvent.EventName" class="form-control" />
                <span asp-validation-for="OrganisedEvent.EventName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrganisedEvent.TicketCount" class="control-label"></label>
                <input asp-for="OrganisedEvent.TicketCount" class="form-control" />
                <span asp-validation-for="OrganisedEvent.TicketCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrganisedEvent.TicketPrice" class="control-label"></label>
                <input asp-for="OrganisedEvent.TicketPrice" class="form-control" />
                <span asp-validation-for="OrganisedEvent.TicketPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrganisedEvent.StartTime" class="control-label"></label>
                <input asp-for="OrganisedEvent.StartTime" class="form-control" />
                <span asp-validation-for="OrganisedEvent.StartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrganisedEvent.StartDate" class="control-label"></label>
                <input asp-for="OrganisedEvent.StartDate" class="form-control" />
                <span asp-validation-for="OrganisedEvent.StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrganisedEvent.EndTime" class="control-label"></label>
                <input asp-for="OrganisedEvent.EndTime" class="form-control" />
                <span asp-validation-for="OrganisedEvent.EndTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrganisedEvent.EndDate" class="control-label"></label>
                <input asp-for="OrganisedEvent.EndDate" class="form-control" />
                <span asp-validation-for="OrganisedEvent.EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrganisedEvent.PreparationTime" class="control-label"></label>
                <input asp-for="OrganisedEvent.PreparationTime" class="form-control" />
                <span asp-validation-for="OrganisedEvent.PreparationTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrganisedEvent.CleanUpTime" class="control-label"></label>
                <input asp-for="OrganisedEvent.CleanUpTime" class="form-control" />
                <span asp-validation-for="OrganisedEvent.CleanUpTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrganisedEvent.VenueId" class="control-label"></label>
                <select asp-for="OrganisedEvent.VenueId" class="form-control" asp-items="ViewBag.VenueId"></select>
                <span asp-validation-for="OrganisedEvent.VenueId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="/Festivals/Details" asp-route-id="@Model.FestivalId">Back to festival</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
