@model Domain.Publisher

<div class="form-group border">
    @Model.PublisherName is the publisher
</div>
<button type="submit" name="deletePublisher" value="@Model.PublisherId">kustuta kirjastaja</button>