@page
@model MusicFestivalWeb.Pages.Venues.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Venue</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-page-handler="NewVenue">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Venue.VenueName" class="control-label"></label>
                <input asp-for="Venue.VenueName" class="form-control" />
                <span asp-validation-for="Venue.VenueName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Venue.VenueAddress" class="control-label"></label>
                <input asp-for="Venue.VenueAddress" class="form-control" />
                <span asp-validation-for="Venue.VenueAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Venue.HourlyPrice" class="control-label"></label>
                <input asp-for="Venue.HourlyPrice" class="form-control" />
                <span asp-validation-for="Venue.HourlyPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Venue.SimplePrice" class="control-label"></label>
                <input asp-for="Venue.SimplePrice" class="form-control" />
                <span asp-validation-for="Venue.SimplePrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
