@page
@model MusicFestivalWeb.Pages.VenueEquipments.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>VenueEquipment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="VenueEquipment.VenueId" class="control-label"></label>
                <select asp-for="VenueEquipment.VenueId" class ="form-control" asp-items="ViewBag.VenueId"></select>
            </div>
            <div class="form-group">
                <label asp-for="VenueEquipment.EquipmentId" class="control-label"></label>
                <select asp-for="VenueEquipment.EquipmentId" class ="form-control" asp-items="ViewBag.EquipmentId"></select>
            </div>
            <div class="form-group">
                <label asp-for="VenueEquipment.ArrivalTime" class="control-label"></label>
                <input asp-for="VenueEquipment.ArrivalTime" class="form-control" />
                <span asp-validation-for="VenueEquipment.ArrivalTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VenueEquipment.ArrivalAddress" class="control-label"></label>
                <input asp-for="VenueEquipment.ArrivalAddress" class="form-control" />
                <span asp-validation-for="VenueEquipment.ArrivalAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VenueEquipment.ReturnTime" class="control-label"></label>
                <input asp-for="VenueEquipment.ReturnTime" class="form-control" />
                <span asp-validation-for="VenueEquipment.ReturnTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VenueEquipment.ReturnAddress" class="control-label"></label>
                <input asp-for="VenueEquipment.ReturnAddress" class="form-control" />
                <span asp-validation-for="VenueEquipment.ReturnAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
