@page
@model WebApp.Pages.DeleteModel

@{
    ViewData["Title"] = "Delete view";
}

<div class="card-deck">
    @Html.Partial("Shared/Partials/BookPartial", Model.Book)
    <div>
        @for (var i = 0; i < Model.Authors.Count; i++)
        {
            var author = Model.Authors[i];
            author.Number = i + 1;
            @Html.Partial("Shared/Partials/AuthorPartial", author)
        }
    </div>
    @Html.Partial("Shared/Partials/LanguagePartial", Model.Book.Language)
    @Html.Partial("Shared/Partials/PublisherPartial", Model.Book.Publisher)


</div>

<h3 class="text-center">Are you sure you want to delete this book? The forest will stay up and untouched...</h3>
 <form class="text-center container" method="post">
        <input type="hidden" asp-for="Book.BookId"/>
        <input type="submit" value="Delete" class="btn btn-danger row"/>
        <a class="row text-center" asp-page="./Index">Back to List</a>
    </form>
