@page
@model IndexModel
@{
    ViewData["Title"] = "Library app";
}
<div class="hello container">
    <div class="row hello align-items-center">
        <div class="col-2"></div>
        <div class="col-8 align-self-center">
            <div class="container">
                <form>
                    
                    <div class="row justify-content-start">
                        <div class="col-auto">
                            <label class="btn" style="
                            font-size: 11pt; color: white">Search from:</label>
                            @for (var i = 0; i < Model.SearchButtons.Count; i++)
                            {
                                var item = Model.SearchButtons[i];
                                <input style="display: none" asp-for="SearchButtons[i].IsChecked"
                                       class="haioo"
                                       />
                                <label
                                    class=" btn toggle-label"
                                    for="SearchButtons_@(i)__IsChecked">
                                    @item.Title
                                </label>
                            }
                        </div>

                    </div>
                    <div class="row justify-content-end no-gutters">
                        <div class="col">
                            <input asp-for="SearchString" class="form-control "  placeholder="Moby Dick" value="@Model.SearchString">
                        </div>
                        <div class="col-auto">
                            <input type="submit" value="Reset" name="ToDoActionReset" class="btn btn-secondary"
                                   @(string.IsNullOrWhiteSpace(Model.SearchString) ? "disabled=\"disabled\"" : "")/>
                        </div>
                        <div class="col-auto">
                            <button type="submit" class="btn btn-dark">Go fetch!</button>
                        </div>
                    </div>
                    
                        @if (Model.BookIndexDtos.Count == 0)
                                {
                                    <div class="row justify-content-center no-gutters text-light">
                                        <p><br/>Did not find the book you were looking for?<br/></p></div>
                                    <div class="row justify-content-center no-gutters text-light">
                                    <p>
                                        <a class="btn btn-outline-light" asp-page="CreateBook">Take care to add it yourself.</a>
                                    </p></div>
                                }
                        else
                        {
                            <div class="row justify-content-center no-gutters text-light">

                                <p><br/>Or, instead of searching, you can</p>
                            </div>
                            <div class="row justify-content-center no-gutters text-light">
                                <p>
                                    <a class="btn btn-outline-light" asp-page="CreateBook">go and add one yourself.</a>
                                </p></div>
                        }
                </form>
            </div>
        </div>
        <div class="col-2"></div>
    </div>

</div>


<div class="container">
    
    @if (Model.BookIndexDtos.Count == 0)
    {
        <div class="row justify-content-center no-gutters text-dark">
            <p><br/>Ohoh... Seems we found nothing.<br/></p></div>
        <div class="row justify-content-center no-gutters text-dark">
            <p>
                <a class="btn btn-outline-dark" asp-page="CreateBook">Care to add the book you searched to the library?</a>
            </p></div>
    }
    <div class="row row-cols-4 justify-content-center">
    @foreach (var item in Model.BookIndexDtos)
{
    <div class="col-md-4">@Html.Partial("Shared/BookCard", item)</div>

}
    </div>
</div>
